# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Custom rules (everything added below won't be overridden by 'Generate .gitignore File' if you use 'Update' option)
.aider.*
.hermes/*
.factory/*
